In [1]:
import numpy as np
import pandas as pd

In [2]:
class Oja:
   
    # init method or constructor 
    def __init__(self, dfX, epochs, learningRate):
        self.X= self.stand(dfX)
        #self.X = np.array(X)
        self.w = np.random.rand(self.X[0].size)
        self.epochs = epochs
        self.learningRate = learningRate
        
    def stand(self, df):
        toRet= pd.DataFrame()
        for column in df:
            df[column]= (df[column] - df[column].mean())/(df[column].std())
        return df.to_numpy()
   
    # Sample Method 
    def run(self):
        for i in range(self.epochs):
            for x in self.X:
                s= np.dot(x, self.w)
                self.w= self.w + self.learningRate * s * (x - s * self.w)
    
    def printX(self):
        print(self.X)
        
    def printW(self):
        print(self.w)

Leo el .csv

In [3]:
df = pd.read_csv (r'../europe.csv')
df.head(5)

,Country,Area,GDP,Inflation,Life.expect,Military,Pop.growth,Unemployment
0,Austria,83871,41600,3.5,79.91,0.80,0.03,4.2
1,Belgium,30528,37800,3.5,79.65,1.30,0.06,7.2
2,Bulgaria,110879,13800,4.2,73.84,2.60,-0.80,9.6
3,Croatia,56594,18000,2.3,75.99,2.39,-0.09,17.7
4,Czech Republic,78867,27100,1.9,77.38,1.15,-0.13,8.5

Le saco la columna de pa√≠ses

In [4]:
df1= df.loc[:, df.columns != 'Country']
df1.head(5)

     Area    GDP  Inflation  Life.expect  Military  Pop.growth  Unemployment
0   83871  41600        3.5        79.91      0.80        0.03           4.2
1   30528  37800        3.5        79.65      1.30        0.06           7.2
2  110879  13800        4.2        73.84      2.60       -0.80           9.6
3   56594  18000        2.3        75.99      2.39       -0.09          17.7
4   78867  27100        1.9        77.38      1.15       -0.13           8.5

In [17]:
epochs= 100000
learningRate= 0.01

In [18]:
o= Oja(df1, epochs, learningRate)

C:\Users\Lucas\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [19]:
o.run()

In [12]:
o.printW()

[-0.97152748  0.40059313 -0.64252172  1.00647722  0.46159267  0.03558917
  0.91325862]

In [20]:
o.printW()

[-0.19976932  0.49045031 -0.4767865   0.50017386 -0.13269894  0.4576239
 -0.2335993 ]